<div class="panel-section">
  <h2>Stationwide Polling Interface</h2>

  <div class="entry">
    <h3>🔘 Poll Item Two</h3>
    <p class="meta">Posted by: Lt. M. Navarro — Closes at: 18:45</p>
    <p>Should we divert power from Hydroponics to the Ghesa Array?</p>
    <div class="options">
      <button class="btn">Yes</button>
      <button class="btn">No</button>
    </div>
  </div>

    <div class="entry">
    <h3>🔘 Poll Item One</h3>
    <p class="meta">Posted by: Capt. Mao — Closed</p>
    <p>This is the tex of the question?</p>
    <div class="options">
      <button class="btn">Yes</button>
      <button class="btn">No</button>
    </div>
  </div>



</div>
